<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :descripton %>
    <%= form.text_area :descripton %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div id = "check-box" class="field">
    <%= form.label :story_type %><br>

    
    <%= check_box_tag "story[story_type]", value = "do thi", :id => "do_thi"%> Do thi <br>
    <%= check_box_tag "story[story_type]", value = "sac", :id => "sac" %> Sac <br>
    <%= check_box_tag "story[story_type]", value = "huyen huyen", :id => "huyen_huyen" %> Huyen huyen <br>
    <%= check_box_tag "story[story_type]", value = "ngon tinh", :id => "ngon_tinh" %> Ngon tinh <br>
  </div>

  <div>
    <%= form.file_field :image %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
