<p id="notice"><%= notice %></p>
<div class="container">
	<% if @story.user == current_user  %>
	  <%= link_to 'Edit', edit_story_path(@story, :class => "edit") %>
	  <%= link_to 'Destroy', @story, :class => "edit", method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<%= image_tag @story.image.url %>
	<h2 style = "text-align: center; color: red"> 
	  <%= @story.name %>
	</h2>	
	<p style = "text-align: left; font-size: 18px; line-height: 1.7"> 
	  <%= @story.descripton %>
	</p>

	<p>
	  <strong>Author:</strong>
	  <%= @story.author %>
	</p>

	<% @story.chaps.each do |chap| %>
	  <p><%= link_to chap.name, story_chap_path(@story, chap.id) %></p>
	  
	<% end %>

	<% if @story.user == current_user %>
	  <%= link_to 'Add new chap', new_story_chap_path(@story) %>
	<% end %>
	<br>
	<%= link_to 'Edit', edit_story_path(@story) %> |
	<%= link_to 'Back', stories_path %>
</div>