
<div class="container">
	<h1 style = "text-align: center"><%= link_to @story.name, story_path(@story) %></h1>
	<h1 style = "text-align: center"><%= @chap.name %></h1>
	<%= link_to 'Edit', edit_story_chap_path(@story, @chap.id) %> 
	<%= link_to 'Destroy Chap', story_chap_path(@story, @chap.id), :class => "edit",
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %><br>

	<p class = "chap-content"><%= @chap.content %></p>


	<p class = "next"><% if @previous_chap_id != nil %>
	<%= link_to 'Previous', story_chap_path(@story, @previous_chap_id) %>
	<% end %>
	|
	<% if @next_chap_id != nil %>
	<%= link_to 'Next', story_chap_path(@story, @next_chap_id) %>
	<% end %><br></p>

	<%= link_to 'Back', story_path(@story) %>
</div>